@import './css/base';
@import './css/vendor/bootstrap-custom';
@import './css/vendor/syntax';

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  padding-top: $navbar-height;
  font-weight: 200;
}

.text-big {
  font-size: 18px;
}

.navbar-brand {
  //background-image: url('/static/broccoli-taco-logo.svg');
  background-size: 60% auto;
  background-position: center center;
  background-repeat: no-repeat;
  text-shadow: 0 1px 4px white;
  font-weight: 700;
  font-family: $headings-font-family;
}

.navbar-toggle {
  &:active {
    @include animation(animate-btn-active 300ms cubic-bezier(.17,.67,.23,1.55) forwards);
  }
}

.hero {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: $hero-bg;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid $brand-primary;
  @include radial-gradient(circle at 50% 50%, #fff, lighten($brand-primary, 50%));

  .tagline {
    color: $brand-dark;
  }

  .checklist, pre {
    display: inline-block;
  }

  .hero-install {
    margin: 30px 0 20px;
    color: $gray-light;
    pre {
      margin-bottom: 5px;
      background-color: white;
    }
  }
}

.checklist {
  text-align: left;
  font-size: 16px;
  list-style: none;
  color: lighten($text-color, 15%);
  line-height: 24px;
  padding: 0;
  margin: 0;
  color: $brand-dark;
}

.checkmark {
  color: $brand-primary;
  text-shadow: 0 1px 2px white;
}

.summary {
  padding-top: 30px;
  padding-bottom: 30px;
}

.point {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  padding: 30px 0;
}

.nav {
  a {
    font-weight: 700;
  }
}

@include keyframes(animate-btn-active) {
  0% { @include transform(scale(1)); }
  100% { @include transform(scale(0.9)); }
}

.text-centered {
  text-align: center;
}
