@import './css/base';
@import './css/vendor/bootstrap-custom';
@import './css/vendor/syntax';

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  padding-top: $navbar-height;
  font-weight: 200;
}

.headroom {
  @include transform-origin(top left);
}
.headroom--pinned {
  @include animation(animate-down-in 300ms ease-out both);
}
.headroom--unpinned {
  @include animation(animate-up-out 300ms ease-in both);
}

.page-content {
  margin-top: 30px;
}

.text-big {
  font-size: 18px;
}

.navbar-brand {
  //background-image: url('/static/broccoli-taco-logo.svg');
  background-size: 60% auto;
  background-position: center center;
  background-repeat: no-repeat;
  text-shadow: 0 1px 4px white;
  font-weight: 700;
  font-family: $headings-font-family;
}

.icon-folder {
  background-image: url('/static/folder-icon.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.icon-file {
  background-image: url('/static/file-icon.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.navbar-toggle {
  &:active {
    @include animation(animate-btn-active 300ms cubic-bezier(.17,.67,.23,1.55) forwards);
  }
}

.hero {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: $hero-bg;
  text-align: center;
  position: relative;
  border-bottom: 1px solid $brand-primary;
  @include radial-gradient(circle at 50% 50%, #fff, lighten($brand-primary, 50%));

  .tagline {
    color: $brand-dark;
  }

  .checklist, pre {
    display: inline-block;
  }

  .hero-install {
    margin: 30px 0 20px;
    color: $gray-light;
    pre {
      margin-bottom: 5px;
      background-color: white;
    }
  }
}

.checklist {
  text-align: left;
  font-size: 16px;
  list-style: none;
  color: lighten($text-color, 15%);
  line-height: 24px;
  padding: 0;
  margin: 0;
  color: $brand-dark;
}

.checkmark {
  color: $brand-primary;
  text-shadow: 0 1px 2px white;
}

.summary {
  padding-top: 30px;
  padding-bottom: 30px;
}

.point {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  padding: 30px 0;
}

.nav {
  a {
    font-weight: 700;
  }
}

.text-centered {
  text-align: center;
}

.content-nav {
  position: fixed;
  top: 70px;
  padding-top: 20px;
  li a {
    color: $gray-light;
    padding: 5px;
    &:hover {
      color: $brand-dark;
      background-color: transparent;
    }

  }
}

.animate-flash {
  @include animation(animate-flash 1500ms ease-out both);
}

p code {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  color: #333;
}

.section-site-folder, .section-page-folder {
  $list-padding: 20px;
  > ul {
    position: relative;
    left: -$list-padding;
  }
  ul {
    padding-left: $list-padding;
    list-style: none;
  }
}

@import 'css/animations';
@import 'css/media-queries';
