<div class='hero'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <h1>
          Satic Sites Powered by Broccoli
        </h1>
        <h4>
          Perfect for any site that needs to pull in external data at build time.
        </h4>
        <p>
        Supports Handlebars templates (layouts/partials/helpers), SCSS, Browserify, asset fingerprinting, and generating pages dynamically based on data.
        </p>
      </div>
    </div>
  </div>
</div>
