@media (max-width: $screen-sm-min) {
  .checklist {
    font-size: 14px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .summary {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;

    h3 {
      font-size: 20px;
    }
  }
}

.content-nav {
  @media (min-width: $screen-sm-min) {
    width: 132px;
  }
  @media (min-width: $screen-md-min) {
    width: 132px;
  }
  @media (min-width: $screen-lg-min) {
    width: 165px;
  }
}
