// Customize bootstrap
$brand-primary: #7ed321;
$navbar-default-brand-color: $brand-primary;
$font-family-base: "Proxima Nova", "Helvetica Neue";
$text-color: #444;
$body-bg: white;

$navbar-default-brand-color: $text-color;
$navbar-height: 50px;
$navbar-default-bg: white;
$navbar-border-radius: 0;
$navbar-default-border: $navbar-default-bg;
$navbar-margin-bottom: 0;

//$headings-font-weight: 400;
//$headings-font-family: "Museo Slab";
//$headings-color: #557a89;

$hero-bg: #f5f5f5;
