// Customize bootstrap
$brand-primary: #0ca300;
$brand-dark: darken($brand-primary, 30%);
$navbar-default-brand-color: $brand-primary;
$font-family-base: 'Helvetica Neue', Helvetica, arial, freesans, clean, sans-serif;
$font-size-base: 15px;
$text-color: #222;
$body-bg: white;

$navbar-default-brand-color: $brand-primary;
$navbar-height: 50px;
$navbar-default-bg: white;
$navbar-border-radius: 0;
$navbar-default-border: $brand-primary;
$navbar-margin-bottom: 0;

$navbar-default-link-hover-bg: lighten($brand-primary, 55%);
$navbar-default-toggle-border-color: transparent;
$navbar-default-toggle-hover-bg: transparent;

$navbar-default-link-color: darken($brand-primary, 30%);

$headings-font-weight: 700;
$headings-font-family: 'Magra', sans-serif;
$headings-color: $brand-dark;

$hero-bg: white;
