{{#layout}}

  <div class='container'>
    {{markdown 'getting-started'}}
    <div class='site-folder-structure'>
      {{markdown 'documentation/site-folder-structure'}}
    </div>
  </div>

{{/layout}}
