{{#layout}}

  <div class='container'>
    <div class='site-folder-structure'>
      {{markdown 'documentation/site-folder-structure'}}
    </div>
    <ul>
      <li>
        Page folder structure
      </li>
      <li>
        Adding render data, site and per page
      </li>
      <li>
        Using layouts (layout helper) default layout
      </li>
      <li>
        Using partials
      </li>
      <li>
        Using helpers
      </li>
      <li>
        Including assest (css-tags, javasctipt-tags helpers) site assets and per page assets
      </li>
      <li>
        Broccoli for development and building
      </li>
    </ul>
  </div>

{{/layout}}
