{{#layout}}

  {{>index/hero}}
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2'>
        <div class='text-centered summary'>
          {{#with page.summary}}
            <h3>{{heading}}</h3>
            <p class='text-big'>{{body}}</p>
          {{/with}}
        </div>
      </div>
    </div>

    <hr />

    <div class='row'>
      {{#each page.points}}
      <div class='col-sm-4 point'>
        <h4>{{heading}}</h4>
        <p>
          {{#markdown}}{{{body}}}{{/markdown}}
        </p>
      </div>
      {{/each}}
    </div>

    <hr />

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8 point'>
        <h3 class='text-centered'>Why &amp; When Broccoli Taco?</h3>
          {{#markdown}}
If you are looking to write blog posts in markdown, [Jekyll](http://jekyllrb.com/) is a good solution. But if you want more fine-grained control over templates, assets and data, you might find Broccoli Taco useful. Some examples where this project may be useful include:

- A personal website with stand-alone interactive blog posts that require specific assets and markup on different pages.
- Data visualizations that don't need to be real-time. A server could regenarate the website at an interval appropriate for the data set.
- Prototyping ideas before deciding on a backend framework.
- Project pages like [this one](https://github.com/moudy/broccoli-taco/tree/gh-pages-dev/site).
          {{/markdown}}
      </div>
    </div>

    <hr />

    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8 point'>
        <h3 class='text-centered'>Motivation</h3>
        <p>
          {{#markdown}}
          So why another static site generator? The main reasons I made this is to have fast asset compilation during development, per-page assets, and the ablity to pull in data asynchronously at build time. I couldn't find anything I was happy with. Suggestions, criticisms and pull requests welcome.

View the {{#link-to 'documentation'}}documentation{{/link-to}} for more details.

Looking for other static site generators? Check out https://www.staticgen.com
          {{/markdown}}
        </p>
      </div>
    </div>

  </div>

{{/layout}}
