{{#layout}}

  {{>index/hero}}
  <div class='container'>
    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        {{markdown 'getting-started'}}
        <br>
        {{markdown 'motivation'}}
      </div>
   </div>
 </div>

{{/layout}}
