{{#layout}}

  {{>index/hero}}
  <div class='container'>
        {{markdown 'getting-started'}}
        Check out {{#link-to 'documentation'}}the documentation{{/link-to}} for more details.
        <br>
        {{markdown 'motivation'}}
 </div>

{{/layout}}
