<nav class='navbar navbar-default'>
  <div class='container'>
    <div class="navbar-header">
      <a href='/' class='navbar-brand'>
        Broccoil Site
      </a>
    </div>

  <ul class='nav navbar-nav navbar-right'>
    <li>
      <a href='/documentation'>Getting Started</a>
    </li>
    <li>
      <a href='/documentation'>Documentation</a>
    </li>
    <li>
      <a href='/documentation'>Github</a>
    </li>
  </ul>

  </div>
</nav>
