<nav class='navbar navbar-default'>
  <div class='container'>
    <div class="navbar-header">
      {{#link-to 'index' class='navbar-brand'}}
        Broccoil Site
      {{/link-to}}
    </div>

  <ul class='nav navbar-nav navbar-right'>
    <li>
      <a href='/documentation'>Getting Started</a>
    </li>
    <li>
      {{link-to 'documentation'}}
    </li>
    <li>
      <a href='/documentation'>Github</a>
    </li>
  </ul>

  </div>
</nav>
